@page "/Airport"

<PageTitle>From - To Airport</PageTitle>

<h1>From - To Airport</h1>
<br>
<h2>Chopin Airport -> Apartment <i class="fa-solid fa-plane-arrival"></i></h2>

<p>A nice way to reach the apartment is by public transport - bus stop is just outside the airport and the S2 train stop is donwstairs in the airport.</p>
<p><a href="https://jakdojade.pl/warszawa/trasa/z--LOTNISKO-CHOPINA-PRZYLOTY--do--Platynowa-6?fn=LOTNISKO%20CHOPINA-PRZYLOTY&tn=Platynowa%206&tc=52.226822:20.990166&fc=52.170667:20.973576&fsn=LOTNISKO%20CHOPINA-PRZYLOTY&ft=LOCATION_TYPE_STOP&tt=LOCATION_TYPE_ADDRESS&d=15.07.22&h=08:40&aro=1&t=1&rc=6&ri=1&r=0">Jakdojade - Bus/Train timetables</a></p>

<div class="map-responsive">
<iframe width="560" height="315" src="https://www.youtube.com/embed/173sOgCvnec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br>
<h2>Apartment -> Chopin Airport <i class="fa-solid fa-plane-departure"></i></h2>

<p><a href="https://jakdojade.pl/warszawa/trasa/z--Platynowa-6--do--LOTNISKO-CHOPINA-PRZYLOTY?fn=Platynowa%206&tn=LOTNISKO%20CHOPINA-PRZYLOTY&tc=52.170667:20.973576&fc=52.226822:20.990166&tsn=LOTNISKO%20CHOPINA-PRZYLOTY&ft=LOCATION_TYPE_ADDRESS&tt=LOCATION_TYPE_STOP&d=17.07.22&h=07:00&aro=1&t=1&rc=6&ri=1&r=0">Jakdojade - Bus/Train timetables</a></p>