@page "/Airport"

<PageTitle>From - To Airport</PageTitle>

<h1>From - To Airport</h1>
<br>
<h2>Chopin Airport -> Apartment <i class="fa-solid fa-plane-arrival"></i></h2>

<br>
<h2>Apartment -> Chopin Airport <i class="fa-solid fa-plane-departure"></i></h2>
