@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Warsaw!</h1>
<br><br>
<h1>Basic info</h1>
<br>
<h2>COVID</h2>
<a href="https://www.gov.pl/web/coronavirus/eu-member-states-schengen-area" target=”_blank”><p>No special requirements for travelers from Germany.</p></a>
<p>Masks are not required in indoor spaces, public transportation, airports, stores, office buildings, tourist attractions, etc.</p>
<p>However, masks are still required in health care facilities and pharmacies.</p>

<br>
<h2>FX Rates</h2>
<p>Current FX rates is 1EUR = 4.75PLN</p>
<br>
<h2>Traveling around the City</h2>
<p>Tickets:</p>
<i class="bi bi-qr-code"></i>
<ul>
    <li>One-day 15PLN</li>
    <li>Three-days 36PLN</li>
</ul>
<br>


<h2>Weather</h2>

<br>
<h2>Emergency</h2>
<p>Emergency numbers are:</p>
<ul>
    <li>Ambulance: 112 or 999</li>
    <li>Fire brigade: 112 or 998</li>
    <li>Police: 112 or 997</li>
    <li>Embassy of Germany in Warsaw: 22-584-17-00</li>
</ul>

<br>
<h2>Alcohol policies</h2>
<p>Alcohol consumption in public is not allowed, except in specially designated places such as restaurants, bars or taverns.</p>
<p>In Warsaw there are additional two special zones that drinking is allowed: Bulwary Wiślane (Vistula boulevards) and plaża Poniatówka (Poniatówka beach).</p>

<SurveyPrompt Title="How is Blazor working for you?" />
