<div HideCloseButton="true">

    <p>@Message</p>

    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter] public string? Message { get; set; }

    @* async Task SubmitForm() => await BlazoredModal.CloseAsync(); *@
    async Task Cancel() => await BlazoredModal.CancelAsync();

}