@* <nav class="navbar mb-5 shadow">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png">
    </a>
</nav>
 *@

<div class="navbar1">

    <a class="navbar-brand" href="/">
            <h6 class="neonText">
                <i class="bi bi-suit-heart-fill"></i> Marinus and the Girls in <i class="bi bi-suit-heart-fill"></i><br>WARSAW
            </h6>
    </a>
</div>