@inherits LayoutComponentBase
<header class="navbar1 shadow">
    <a class="navbar-brand" href="/">
        <div class="wrapper">
            <h6 class="neonText">
                <i class="bi bi-suit-heart-fill"></i> Marinus and the Girls in <i class="bi bi-suit-heart-fill"></i><br>WARSAW
            </h6>
        </div>
    </a>
</header>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a><i class="bi bi-currency-euro">1 = 4.75PLN</i></a>
            <a><i class="bi bi-telephone-fill"></i> Emergency: 112</a>
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer>

</footer>