@inherits LayoutComponentBase
<header class="navbar1 shadow">
    <a class="navbar-brand" href="/">
        <div class="wrapper">
            <h3 class="neonText">
                Marinus and the Girls in <br>WARSAW
            </h3>
        </div>
    </a>
</header>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a>1EUR = 4.75PLN</a>
            <a>Emergency: 112</a>
            @* <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer>

</footer>